body, h1, h2, h3, h4, h5, h6, p, span, input, button  {
  font-family: 'Jua', sans-serif;
  font-weight: 200;
}

body{
  margin: 0;
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: antiquewhite;
  background-image: url('../img/pattern.png');
  background-repeat:repeat;
  background-size: 800px;
}

.content_wrapper{
  display:flex;
  width: 350px;
  height: 700px;
  background-color: whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
  border: 10px #DDDDDD double;
  border-radius: 30px;
}

.content{
  display:grid;
  width:100%;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1.5fr 1fr 1fr;
}

.question{
  text-align:center;
  font-size: large;
}

.description{
  display:flex;
  flex-direction: column;
  text-align: center;
}

img{
  width: 250px;
  display:block;
  margin: 0px auto;
}

.button{
  width: 300px;
  line-height: 50px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 40px;
  font-size: medium;
  background-color: gold;
}

/* width가 900픽셀보다 작으면 */
@media(max-width:570){
  body{
    background-image: url('../img/pattern.png');
    background-repeat:repeat;
    background-size: 200px;
  }
  
}

/* @media(max-width:696px){
  #youtube iframe{
    display: none;
  }
} */
