<!doctype html>
<html>
  <head>
    <title>WEB2 - JS</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Style/question_style.css">
    <script src="../pagelink.js"> </script>
  </head>
  <body >
      <div class="content_wrapper">
        <div class="content">
          
            <div class="question">
              <h2>Question 1</h2>
              <h4>자취방까지 걸어서 30분정도 걸린다.
              <br />어떻게 갈까?</h4>
            </div>
            <div class="images">
              <img src="../img/yohan.jpeg">
            </div>
            <div class="answers">
              <div><input class="button" type="button" value="건강도 챙길겸 걸어간다." onclick="BtnClick('1.html'),mbtiCheck(['t','j'])"></input></div>
              <div><input class="button" type="button" value="알뜰하게 대중교통을 탄다." onclick="BtnClick('1.html'),mbtiCheck(['t','j'])"></input></div>
              <div><input class="button" type="button" value="오늘은 고생한 나를 위해 택시를 탄다." onclick="BtnClick('1.html'),mbtiCheck(['f','p'])"></input></div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
