<!doctype html>
<html>
  <head>
    <title>WEB2 - JS</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Style/question_style.css">
    <script src="../pagelink.js"> </script>
  </head>
  <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
      <div class="content_wrapper">
        <div class="content">
            <div class="question">
              <h2>Question 2</h2>
              <h4>집으로 가는 길! 어떤 음악을 들을까?
            </div>
            <div class="images">
              <img src="../img/yohan2.jpg">
            </div>
            <div class="answers">
              <div><input class="button" type="button" value="기분 전환🎵 신나는 음악을 듣는다." onclick="BtnClick('2.html'),mbtiCheck(['n']);"></input></div>
              <div><input class="button" type="button" value="지금 내 기분처럼 잔잔한 음악을 듣는다. 🍂" onclick="BtnClick('2.html'),mbtiCheck(['n']);"></input></div>
              <div><input class="button" type="button" value="무슨 음악이야. 음악보단 유튜브지😏" onclick="BtnClick('3.html'),mbtiCheck(['s']);"></input></div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
