<!doctype html>
<html>
  <head>
    <title>WEB2 - JS</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Style/question_style.css">
    <script src="../pagelink.js"> </script>
  </head>
  <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
      <div class="content_wrapper">
        <div class="content">
            <div class="question">
              <h2>Question 3</h2>
              <h4>이 시간엔 항상 품절이던 디저트 맛집!
              <br />배는 고프지않다. 사갈까?🤔</h4>
            </div>
            <div class="images">
              <img src="../img/q2.png">
            </div>
            <div class="answers">
              <div><input class="button" type="button" value="(이미 전화로 예약하고 픽업하러 가는 중 🏃🏻‍♂️)" onclick="BtnClick('3.html'),mbtiCheck(['f','j']);"></input></div>
              <div><input class="button" type="button" value="갈까말까 고민만 30분동안 한다. 🥺" onclick="BtnClick('3.html'),mbtiCheck(['f','j']);"></input></div>
              <div><input class="button" type="button" value="언제가.. 귀찮아.. 집에 가서 쉴래! 🤷🏻‍♀️" onclick="BtnClick('3.html'),mbtiCheck(['t','p']);"></input></div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
