<!doctype html>
<html>
  <head>
    <title>WEB2 - JS</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Style/question_style.css">
    <script src="../pagelink.js"> </script>
  </head>
  <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
      <div class="content_wrapper">
        <div class="content">
            <div class="question">
              <h2>Question 4</h2>
              <h4>문득 고개를 드니 저녁 노을이 이쁘게 지고 있다.
              <br />사진으로 남길까?</h4>
            </div>
            <div class="images">
              <img src="../img/yohan2.jpg">
            </div>
            <div class="answers">
              <div><input class="button" type="button" value="내 눈이 카메라다. 머리에 남겼으니 됐다. 암암. 👁" onclick="BtnClick('4.html'),mbtiCheck(['i','t']);"></input></div>
              <div><input class="button" type="button" value="적당히 찍고 나 혼자 간직한다. ✨" onclick="BtnClick('4.html'),mbtiCheck(['i','f']);"></input></div>
              <div><input class="button" type="button" value="50장 찍고, 보정 완료. SNS에 올려야겠다 🎵" onclick="BtnClick('4.html'),mbtiCheck(['e','f']);"></input></div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
