<!doctype html>
<html>
  <head>
    <title>WEB2 - JS</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Style/question_style.css">
    <script src="../pagelink.js"> </script>
  </head>
  <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
      <div class="content_wrapper">
        <div class="content">
            <div class="question">
              <h2>Question 5</h2>
              <h3>집 앞까지 다 왔는데 친구에게 온 전화 📞
                <br/>"술먹자!"  </h3>
                <h4>음 .. 내일 출근인데 어떡하지?</h4>
            </div>
            <div class="images">
              <img src="../img/yohan2.jpg">
            </div>
            <div class="answers">
              <div><input class="button" type="button" value="💬 야야 나 집 앞이야. 그리고 내일 출근해서 안돼!" onclick="BtnClick('5.html'),mbtiCheck(['i','s','t']);"></input></div>
              <div><input class="button" type="button" value="💬 술 좋지. 근데 나 빨래를 안해서~ 지금 누구 있는데?" onclick="BtnClick('5.html'),mbtiCheck(['i','n','p']);"></input></div>
              <div><input class="button" type="button" value="💬 마셔마셔! 오늘 아스팔트 한번 핥아보자~" onclick="BtnClick('5.html'),mbtiCheck(['e','n','s','p']);"></input></div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
