<!doctype html>
<html>
  <head>
    <title>WEB2 - JS</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Style/question_style.css">
    <script src="../pagelink.js"> </script>
  </head>
  <body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
      <div class="content_wrapper">
        <div class="content">
            <div class="question">
              <h2>Question 6</h2>
              <h4>친구와 술한잔하고 집으로 가는 길, <br/>미래에 대한 걱정이 몰려온다. </h4>
            </div>
            <div class="images">
              <img src="../img/q5.png">
            </div>
            <div class="answers">
              <div><input class="button" type="button" value="나만 이렇게 불완전하고 불안한가싶어서 눈물이 난다." onclick="BtnClick('6.html'),mbtiCheck(['n','f']);"></input></div>
              <div><input class="button" type="button" value="걱정해봤자 나만 손해다. 난 어차피 잘될거니까." onclick="BtnClick('6.html'),mbtiCheck(['s','t']);"></input></div>
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
